version = 0.1

[default.global.parameters]
stack_name = "washingmachine-notifications"

[default.build.parameters]
cached = true
parallel = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
region = "eu-west-2"
parameter_overrides = [
  "WifeEmail=wife@example.com",
  "WifePhone=+447700000000",
  "FromEmail=reminders@yourdomain.com",
  "AnimalType=bunny",
  "AlertEmail=ops@yourdomain.com",
  "TwilioAccountSid=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "TwilioAuthToken=your_auth_token_here",
  "TwilioFromNumber=+447700000000"
]
